<div class='navbar'>
	<div><i class="fa-solid fa-kitchen-set" style="font-size: 30px"></i>
	</div>
	<div>
		<%= link_to "My categories", root_path %>
		<%= link_to "New category", new_category_path %>
	</div>
</div>

<div class='category-container'>
  <h4> New Category </h4>

  <div class="row">
    <div class="col-6 mx-auto">
      <%= simple_form_for [@category] do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Create category", class: "btn btn-success" %>
      <% end %>
      <div>
        <%= link_to "Back to categories", root_path, class:"category-links" %>
      </div>
    </div>
  </div>

</div>
